
<!--Примечание ОКС-->
<div class="mb-4 card granitsy" style="display:none"  id="cr_pr_oks" >
    <div class="card-header">
        <h5 class="card-title">Примечание ОКС</h5>
    </div>

    <div class="card-body">
            <!--Отрицательная S ОКС-->
            <div class="li__flex">
                <div >
                    <table class="table table-bordered width__text" id ="myTable" style="display: none" >

                    </table>
                </div>
                <div class="align__center"  >
                    <!--Другой РЕГ-->
                    <table class="table table-bordered width__text" id ="myTable1"  style="display: none"  >
                    </table>

                </div>
            </div>
            <!--Условные-->

            <div class="li__flex align__center"  >
                <div class="margin__div">
                    <table class="table table-bordered width__text" id ="myTable2"  style="display: none">

                    </table>
                </div>

                <!--Без КН-->

                    <div class="margin__div"  >
                        <table class="table table-bordered width__text" id ="myTable3"  style="display: none" >

                        </table>
                    </div>


                    <!--ЕНК-->

                        <div >
                            <table class="table table-bordered width__text" id ="myTable4"  style="display: none"  >

                            </table>
                        </div>
                </div>

    </div>
</div>