
    <div class="mb-4 card granitsy" style="display:none" id="cr_pr_zu">
        <div class="card-header">
            <h5 class="card-title">Примечание ЗУ</h5>
        </div>
        <div class="card-body">
                <!--Отрицательная S ЗУ-->
                <div class="li__flex">
                    <div>
                        <table class="table table-bordered width__text" id ="myTable5"  style="display: none" >

                        </table>
                    </div>
                    <div class="align__center">
                        <!--Другой РЕГ-->
                        <table class="table table-bordered width__text " id ="myTable6"  style="display: none" >
                        </table>
                    </div>
                    </div>
        </div>
        </div>

    </div>
